<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>POP Tasks</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item" style="background-color: #ef8991";>
            <h2>Mechanical</h2>
            <ul>
                {% for issue in mech %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item" style="background-color: #d5e88f;">
            <h2>Electrical</h2>
            <ul>
                {% for issue in elec %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item" style="background-color: #9494d8";>
            <h2>Software</h2>
            <ul>
                {% for issue in prog %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item" style="background-color: #8fe89d;">
            <h2>Design</h2>
            <ul>
                {% for issue in cad %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item" style="background-color: #d7a1ee;">
            <h2>Materials</h2>
            <ul>
                {% for issue in mats %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item" style="background-color: #d78869;">
            <h2>Executive</h2>
            <ul>
                {% for issue in biz %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
                {% for issue in pr %}
                    <li>{{ issue[0] }} - {{ issue[1] }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="atn-grid-item" style="background-color: #d7fcff;">
            <h2>T-Shirt (Required)</h2>
            <img src="../static/t-shirt.png" id="atn">
        </div>
        <div class="atn-grid-item" style="background-color: #d7fcff;">
            <h2>Attendance {{date.month}}/{{date.day}}</h2>
            <img src="../static/attendance.png" id="atn">
        </div>
        <!-- Comment out when not lunch day brother --->
        <div class="atn-grid-item" style="background-color: #d7fcff;">
            <h2>Lunch {{date.month}}/{{date.day}}</h2>
            <img src="../static/lunch.png" id="atn">
        </div>
    </div>
</body>
</html>